<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<style>
    body, body *:not(html):not(style):not(br):not(tr):not(code) {
        font-family: 'Raleway', sans-serif;
        box-sizing: border-box;
    }

    @media only screen and (max-width: 600px) {
        .inner-body {
            width: 100% !important;
        }

        .footer {
            width: 100% !important;
        }
    }

    @media only screen and (max-width: 500px) {
        .button {
            width: 100% !important;
        }
    }

    .head-bandeau {
        width: 13%;
        height: 10px;
        background-color: yellow;
    }

    .first {
        background-color: #42254D;
    }

    .second {
        background-color: #4D3675;
    }

    .third {
        background-color: #6E2658;
    }

    .four {
        background-color: #A71F51;
    }

    .five {
        background-color: #D4214B;
    }

    .six {
        background-color: #E65020;
    }

    .seven {
        background-color: #FF9700;
    }

    .hei {
        background-color: #FFCD00;
    }

    body {
        margin: 0;
    }

    .heading {
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

    .be-u {
        color: #1B1624;
        /*font-family: "Codec Cold Logo";*/
        font-size: 40px;
        font-weight: bold;
        line-height: 52px;
    }

    .date {
        color: #1B1624;
        /*font-family: Arial;*/
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        display: flex;
        align-items: center;
    }

    .body {
        width: 100%;

    }

    .inner-body {
        margin: 0 auto;
        width: 70%;
        margin-bottom: 30px;
    }

    .footer__rs {
        display: flex;
        justify-content: center;
    }

    .footer__rs__container {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
    }

</style>

<table class="wrapper" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
            <table class="content" width="100%" cellpadding="0" cellspacing="0">
                <tr style="width: 100%;display: flex;align-items: center;justify-content: flex-start;">
                    <td class="head-bandeau first">
                    </td>
                    <td class="head-bandeau second">
                    </td>
                    <td class="head-bandeau third">
                    </td>
                    <td class="head-bandeau four">
                    </td>
                    <td class="head-bandeau five">
                    </td>
                    <td class="head-bandeau six">
                    </td>
                    <td class="head-bandeau seven">
                    </td>
                    <td class="head-bandeau hei">
                    </td>
                </tr>

                <tr style="text-align: center;">
                    <td class="heading">
                        <h3 class="be-u">Stein</h3>
                    </td>
                </tr>
                <tr style="background-color: rgba(226, 226, 226, 0.38);">
                    <td class="body" cellpadding="0" cellspacing="0"
                        style="border-top: 1px solid #E2E2E2;border-bottom: 1px solid #E2E2E2;">
                        <table class="inner-body" cellpadding="0" cellspacing="0">
                            <tr style="margin-bottom: 40px">
                                <td class="content-cell"
                                    style="text-align:left;color: #324e6d;">
                                    <div style="font-size: 16px; padding-top:30px;display: inline-block">
                                        <span style="color: #1B1624;	font-family: 'Roboto', sans-serif;;	font-size: 24px;	font-weight: bold;	line-height: 28px;">
                                       New account register !
                                            {{ user.username}}
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="heading" style="margin-top: 30px">
                        <span style="color: #1B1624;	font-family: 'Roboto', sans-serif;	font-size: 14px;	line-height: 18px;">© 2019 Stein</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
